// .prettierrc
{
  "tailwindStylesheet": "src/style.css",  
  "tailwindPreserveWhitespace": true,
  "plugins": [
    "prettier-plugin-svelte",
    "prettier-plugin-organize-imports",
    "prettier-plugin-tailwindcss" // MUST come last
  ]
}